{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} About {% endblock %}
{% block heading %} About Calendates {% endblock %}
{% block main %}
	
	<p>The purpose of Calendates is for you and a your group of family and friends to be able communicate a lot better regarding what will happen over a certain period of time or for a whole year. 

	If you're trying to organise one event, plot down dates when you are or arent available and the best time can be chosen for this event taking everything into consideration. 
	
	Another way is to go away on holidays and see when certain plans are made yet.

	There are multiple ways of using it. Be creative!</p>
	
{% endblock %}