{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} {{event.name}} {% endblock %}
{% block heading %} {{event.name}} {% endblock %}
{% block main %}
<div id="event-info-page">
	<div id="event-info-wrapper">
		<div id="event-info">
			<p>Name: {{event.name}}</p>
			<p>
				Date/s: {{event.dates[0].date}} {{event.dates[0].month_name}} {{event.dates[0].year}}
				{% if event.dates[1] %}
				 - {{event.dates[-1].date}} {{event.dates[-1].month_name}} {{event.dates[-1].year}}
				{% endif %}

			</p>
			<p>Description: {{event.description}}</p>
			<div id="location-div">
				<p>Location:</p>
				<p id="locality-div">{{event.locality}}</p>
				<p id="city-div">{{event.city}}</p>
				<p id="country-div">{{event.country}}</p>
			</div>
		</div>
		<div id="edit-div">
			<button type="button" id="edit-btn">Edit</button>
			<a href="{{url_for('deleteEvent', event_id=event.id)}}"><button type="button" id="delete-btn">Delete</button></a>
		</div>	
	</div>
	<form action="{{url_for('eventInfo', event_id=event.id)}}" method="post" id="edit-event">
		<div id="top-form-box">
			<div>
				<div>
					<label for="name">Name</label>
					<input type="text" name="name" value="{{event.name}}">
				</div>
				<div>
					<label for="year">Year</label>
					<input type="number" name="year" maxlength="4" value="{{event.dates[0].year}}">
					<label for="month">Month</label>
					<select name="month">
						{% if event.dates[0].month %}
						<option value="{{event.dates[0].month}}">{{event.dates[0].month}}</option>
						{% endif %}
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
					<label for="date">Date</label>
					<select name="date">
						{% for x in range(1,32) %}
						{% if event.dates[0].date == (x) %}
						<option value="{{(x)}}" selected>{{(x)}}</option>
						{% else %}
						<option value="{{(x)}}">{{(x)}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div>
					Tick if multiple days <input type="checkbox" name="multiple-days" id="end-date-checkbox">
				</div>
				<div id="end-date-container">
					<div>End date:</div>
					<label for="year-end">Year</label>
					<input type="number" name="year-end" maxlength="4" value="{{event.dates[0].year}}">
					<label for="month-end">Month</label>
					<select name="month-end">
						{% if event.dates[-1].month %}
						<option value="{{event.dates[-1].month}}">{{event.dates[-1].month}}</option>
						{% endif %}
						{% for x in range(1,13) %}
						<option value="{{(x)}}">{{(x)}}</option>
						{% endfor %}
					</select>
					<label for="date-end">Date</label>
					<select name="date-end">
						{% for x in range(1,32) %}
						{% if event.dates[-1].date == (x) %}
						<option value="{{(x)}}" selected>{{(x)}}</option>
						{% else %}
						<option value="{{(x)}}">{{(x)}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div>
				<div>Description</div>
				<textarea name="description" form="edit-event" maxlength="1000">{{event.description}}</textarea>
			</div>
		</div>
		<div>
			<label for="locality">Locality</label>
			<input type="text" name="locality" value="{{event.locality}}">
			<label for="city">City</label>
			<input type="text" name="city" value="{{event.city}}">
			<label for="country">Country</label>
			<input type="text" name="country" value="{{event.country}}">
		</div>
		<button>Save</button>
	</form>
	<div>
		<button type="button" id="maps-btn">Static Maps</button>
		<div id="map-js"></div>
		<div id="maps"></div>		
	</div>
</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCup9ch8zCcZ6BAzwnp4RnC4f8L-FOkI-Y&callback=initMap"></script>
{% endblock %}