{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} Events {% endblock %}
{% block heading %} Major Events {% endblock %}
{% block main %}
	
	{% for event in events %}
	<div><a href="#">{{event[0].name}}</a>: {{event[1].day}} {{event[1].date}}{% if event[1].date == 1 %}st
		{% elif event[1].date == 2 %}nd
		{% elif event[1].date == 3 %}rd
		{% else %}th
		{% endif %}
		of {{event[1].month_name}} {{event[1].year}}</div>
	{% endfor %}
	
{% endblock %}