<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{% endblock %}
</head>
<body>
	<div id="wrapper">
		<header>
			<div id="home-btn">
				<a href="{{url_for('homePage')}}">Calendates</a>
			</div>
			<div id="navigation">
				<a href="{{url_for('about')}}"><div>About</div></a>
				<a href="{{url_for('homePage')}}"><div>Calendar</div></a>
				<a href="{{url_for('events')}}"><div>Events</div></a>
				<a href="{{url_for('newEvent')}}"><div>New Event</div></a>
				<a href="{{url_for('contact')}}"><div>Contact</div></a>
			</div>
		</header>
		<div id="content">
			<div id="heading">
				<h1>{% block heading %}{% endblock %}</h1>
			</div>
			<div id="main">
				{% block main %}{% endblock %}
			</div>
		</div>
		<footer>
			Footer
		</footer>
	</div>
	{% block scripts %}{% endblock %}
</body>
</html>