{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %}{{monthobj.month_name}} {{year}}{% endblock %}
{% block heading %}{{monthobj.month_name}} {{year}}{% endblock %}
{% block main %}

	<h2>List of dates with events</h2>
	{% for date in dates %}
	<ul><a href="{{url_for('date', year=year, month=monthobj.month, date=date.date)}}">{{date.day}} {{date.date}}</a>
		{% for event in date.events %}
		<li>{{event.name}}</li>
		{% endfor %}
	</ul>
	{% endfor %}

{% endblock %}
